.navbar--mobile.fixed.bottom-0.left-0.shadow-default.stone-bk-50.z-10.w-full.rounded-item(class="md:hidden") 
	.flex.justify-around.items-center.flex-row(class="py-[17px] ")

		a.navbar--mobile--item.navbar--mobile--active(href="javascript:void(0)" class="")
			img(src='./img/home.svg' alt="items-nav" class="")
			p.navbar--mobile--item__text.mr-3.slate-800.font-bold(class="text-[18px]") خانه
		a.navbar--mobile--item(href="javascript:void(0)" class="")
			img(src='./img/category.svg' alt="items-nav" class="")
		a.navbar--mobile--item(href="javascript:void(0)" class="")
			img(src='./img/bag-2.svg' alt="items-nav" class="")
		a.navbar--mobile--item(href="javascript:void(0)" class="")
			img(src='./img/vector.svg' alt="items-nav" class="")


